.contacts {
    height: 665px;
    background:url("../pictures/contactsBg.png") 0 120px no-repeat,
    url("../pictures/contactsBg2.png") 0 683px repeat-x; // 683
    padding-top: 100px ;

    .section-title {
        margin-top: 0px;
    }
}

.contacts-form-box {
    display: flex;
    justify-content: flex-end;
}

.form {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 150px;
    height: 330px;
    width: 580px;
    box-shadow: 0px 0px 40px 0px rgba(89, 88, 88, 0.3);
    position: relative;

    input {
        padding-left: 20px;
        color: #9c9db6;

        &:active,
        &:focus {
            outline: none;
            color: black;
            }
    }
}



.btn {
    height: 50px;
}

.bkg {
    background-color: $purple-backgr;
    border-radius: 20px;
    height: 50px;
}

.form-text {
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 1920px) {
    .contacts {
        background:url("../pictures/contactsBg.png") -300px -97px no-repeat,
        url("../pictures/contactsBg2.png") 0 675px repeat-x;
    }
}


@media screen and (max-width: 1366px) {
    .contacts {
        background:url("../pictures/contactsBg.png") -300px -120px no-repeat,
        url("../pictures/contactsBg2.png") 0 683px repeat-x;
    }
}

@media screen and (max-width: 992px) {
    .contacts {
        height: 1155px;
        background: url("../pictures/contactsBg991.png") 0 -410px,
        url("../pictures/contactsBg2.png") 0 1231px repeat-x;


        .contacts-form-box {
            justify-content: center;

            .form-text {
                font-size: 19px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .contacts {
        background:url("../pictures/contactsBg480.png") 0 100px no-repeat,
        url("../pictures/contactsBg2.png") 0 901px repeat-x;

        height: 826px;
        .contacts-form-box {
            justify-content: center;


            .form {
                margin-top: 24px;

                .contacts-form-input-name {
                    width: 175px;
                }
                .contacts-form-surname {
                    left: 255px;
                }
                .contacts-form-input-surname {
                    width: 175px;
                    left: 255px;
                }
                .contacts-form-input-email {
                    width: 405px;
                }
                .contacts-leave-contact-button {
                    left: 55px
                }
            }

        }
    }


}

@media screen and (max-width: 360px) {
    .contacts {
        background:url("../pictures/contactsBg480.png") 0 100px no-repeat,
        url("../pictures/contactsBg2.png") 0 901px repeat-x;

        height: 826px;
        .contacts-form-box {
            justify-content: center;


            .form {
                margin-top: 24px;

                .contacts-form-input-name {
                    width: 280px;
                }
                .contacts-form-surname {
                    display: none;
                }
                .contacts-form-input-surname {
                    display: none;
                }
                .contacts-form-input-email {
                    width: 280px;
                }
                .contacts-leave-contact-button {
                    left: 25px;
                    width: 303px;
                }
            }

        }
    }


}
